/* screens
1800
1600
1450
1200
1000
780
 */

body{
  margin:0;
  padding:0;
}

.main{
  position: relative;
  padding-left: 51px;
  padding-top: 36px;
  height: auto;
}

.main::before{
  content: '';
  width: 32.1%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 97px;
}

.header__logo{
  /* margin-right: 16.9%; */
  margin-right: 19%;
  letter-spacing: 2.5px;
  color: #fff;
  font: 500 30px/37px 'Montserrat',arial,helvetica,sans-serif;
  text-transform: uppercase;
}

.header__lang{
  color: #fff;
  background: #000;
  border: none;
  font: 500 20px 'Montserrat',arial,helvetica,sans-serif;
}

.hamburger-menu{
  width: 92px;
  height: 92px;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right:0;
  margin-bottom: 77px;
}

.menu__btn>span,
.menu__btn>span:after {
  display: block;
  position: absolute;
  top: 39px;
  left: 28px;
  width: 35px;
  height: 4px;
  background: #000;
  text-align: center;
}

.menu__btn>span::after{
  content: '';
  left: 0;
  position: absolute;
  top: 10px;
}

input[type="checkbox"]{opacity: 0;}
.promo{
  /* display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap; */
  position: relative;
  width: 80.8%;
  height: 100%;
  margin: 0 auto 84px 8.9%;
  align-items: center;
  /* border: 1px solid red; */
}

.promo__img{
  position: absolute;
  width: 51%;
  height: 100%;
  top:0;
  object-fit: contain;
}

.promo__title{
  padding-top: 101px;
  margin: 0 0 18px 54.6%;
  width: 33%;
  font: bold 80px/82px 'Montserrat',arial,helvetica,sans-serif;
}

.promo__description{
  width: 41%;
  font: 400 15px/21px 'Montserrat',arial,helvetica,sans-serif;
  margin-left: 54.7%;
  margin-bottom: 38px;
}
.button-and-link-block{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.promo__button{
  border:2px solid #000;
  margin: 0 4.9% 71px 54.6%;
  text-transform: uppercase;
  color: #000;
  padding: 14px 39px 12px;
  text-decoration: none;
  font: 500 13px 'Montserrat',arial,helvetica,sans-serif;
}

.promo__link{
  position: relative;
  /* width: 21%; */
  width: 17%;
  margin-bottom: 71px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #000;
  font: 500 13px 'Montserrat',arial,helvetica,sans-serif;
}

.promo__link::after{
  position: absolute;
  content: "";
  width: 18.4%;
  height: 100%;
  right: 0;
  background: center right no-repeat url("../img/row.svg");
}

.contacts{
  display: inline-block;
  margin-right: 35.8%;
}

.contacts__item{
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 9px;
  margin-bottom: 36px;
  background: #fff center center no-repeat;
}

.contacts__item:last-child{
  margin-right: 0;
}

.contacts__item_inst{
  background-image: url("../img/instagram.svg");
}

.contacts__item_vk{
  background-image: url("../img/vk.svg");
}

.contacts__item_fb{
  background-image: url("../img/fb.svg");
}

.header__scroll{
  display: inline-block;
  width: 28px;
  height: 46px;
  background: center center no-repeat url("../img/scroll.svg");
  vertical-align: top;
}

.product__section-1{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 168px 5% 119px 9.5%;
  background: #fae8e4;
}

.product__img_gray{
  align-self: flex-start;
  width: 32.5%;
  padding-top: 50px;
  padding-left: 0px;
  margin-right: 24%;
}

.product__img_pink{
  position: absolute;
  width: 40.3%;
  padding-top: 115px;
  padding-left: 96px;
}

.product{
  box-sizing: border-box;
  align-items: center;
  width: 40%;
  height: 62%;
  background: #fff;
  padding: 45px 50px 44px 59px;
  margin-bottom: 38px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .25);;
}

.product__title{
  font: bold 40px/42px 'Montserrat',arial,helvetica,sans-serif;
  width: 100%;
  margin: 0 0 13px;
}

.product__subtitle{
  margin: 0 0 62px;
  font: bold 16px/18px 'Montserrat',arial,helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product__description{
  width: 97%;
  font: 400 15px/140% 'Montserrat',arial,helvetica,sans-serif;
  margin: 0 0 46px 0;
  padding: 0;
}

.colors-and-price-block,
.count-and-button-block{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colors-and-price-block{
  width: 90%;
  margin-bottom: 55px;
  justify-content: space-between;
  /* border: 1px solid #4fd */
}
.count-and-button-block{
  /* width: 96%; */
  width: 91%;
}
.colors{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* width: 164px; */
  width: 45%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0 0;
  /* margin: 0 69px 0 0; */
  margin: 0;
}

.colors__item{
  /* width: 30px;
  height: 30px; */
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.colors__item-1{
  background: #dedede;
}

.colors__item-2{
  background: #f29f9f;
}

.colors__item-3{
  background: #a8bff9;
}

.colors__item-4{
  background: #90bd8f;
}

.colors__item_active{
  /* width: 38px;
  height: 38px; */
  width: 42px;
  height: 42px;
}

.product__price{
  font: bold 40px/41px 'Montserrat',arial,helvetica,sans-serif;
  width: 32.8%;
  margin: 0;
  align-self:flex-start;
}

.product__count{
  box-sizing: border-box;
  /* width: 100px; */
  width: 32%;
  font: 500 15px 'Montserrat',arial,helvetica,sans-serif;
  text-align: center;
  border: 2px solid #000;
  padding: 10px 18px;
  /* margin: 0 14px 0 0; */
  margin: 0;
}

.product__count::before{
  content: '-';
  position: relative;
  right: 22px;
}

.product__count::after{
  content: '+';
  position: relative;
  left: 21px;
}

.product__button{
  font: 500 13px 'Montserrat',arial,helvetica,sans-serif;
  text-transform: uppercase;
  border: 2px solid #000;
  background: none;
  padding: 13px 47px 13px 39px;
}

.product__link{
  position: relative;
  display: block;
  width: 39.7%;
  font: 500 13px/16px 'Montserrat',arial,helvetica,sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-left: 65%;
  text-decoration: none;
  margin-bottom: 30px;
}

.product__link::after{
  position: absolute;
  content: "";
  width: 51%;
  height: 100%;
  right: 0;
  background: center right no-repeat url("../img/row2.svg");
}

.product__section-2{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  background: #EBE3D8;
  padding: 141px 0 45px 88px;
}

.product__section-2::before{
  content: '';
  width: 5%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 27%;
  top: 0;
}

.product__section-2 .product__img{
  width: 61.2%;
  position: relative;
  margin-bottom: 103px;
}

.product-and-link-block{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 255px; */
  top: 300px;
  left: 56.7%;
  /* max-width: max-content; */
  width: 32%;
  box-sizing: border-box;
  /* border: 2px dashed #de4; */
}

.product__section-2 .product{
  box-sizing: border-box;
  padding: 39px 0 45px 47px;
  width: 96%;
  background: #FAE8E4;
  z-index: 1;
  height: auto;
  margin-bottom: 36px;
}

.product__section-2 .product__title{
  margin-bottom: 13px;
}

.product__section-2 .product__subtitle{
  margin-bottom: 34px;
}

.product__section-2 .product__description{
  margin-bottom: 54px;
  /* width: 89%; */
  width: 76%;
}

.product__section-2 .product__count::before{
  right: 22px;
  bottom: 1px;
}

.product__section-2 .product__count::after{
  left: 21px;
}

.product__section-2 .product__button{
  padding: 13px 48px 13px 40px;
}

.product__section-2 .product__link{
  align-self: flex-end;
  padding-right: 2%;
  margin: 0;
  min-width: 71%;
}

.product__section-2 .product__link::after{
  content: "";
  align-self: flex-end;
  width: 31%;
  height: 100%;
  right: 5%;
  background: center right no-repeat url("../img/row2.svg");
}

.site__made-by{
  position: absolute;
  bottom: 10px;
  right: 104px;
  height: 22px;
  margin-right: 14px;
  text-transform: uppercase;
  font: bold 12px/14px 'Montserrat',arial,helvetica,sans-serif;
}

.site__made-by::after{
  content: '';
  width: 82px;
  height: 100%;
  bottom: 3px;
  position: absolute;
  margin-left: 15px;
  background: center center no-repeat url("../img/logo_made-by.svg");
}

@media (max-width: 1600px) {
  .header__logo{
    margin-right: 19%;
  }

  .promo__link{
    width: 19%;
  }

  .count-and-button-block{
    width: 96%;
  }

  .product-and-link-block{
    width: 36%;
  }

  .product__section-2 .product__description{
    width: 86%;
  }

  .product__section-2 .count-and-button-block{
    width: 83%;
  }
}

@media (max-width: 1450px){
  .header__logo{
    margin-right: 16.9%;
  }

  .promo__link{
    width: 21%;
  }

  .colors{
    width: 164px;
  }

  .colors__item{
    width: 30px;
    height: 30px;
  }

  .colors__item_active{
    width: 38px;
    height: 38px;
  }

  .count-and-button-block{
    width: 96%;
  }

  .product__count{
    width: 100px;
  }

  .product__link{
    margin-left: 60.3%;
    margin-bottom: 0;
  }

  .product-and-link-block{
    top: 255px;
    width: 34%;
  }

  .product__section-2 .product__description{
    width: 89%;
  }

  .product__section-2 .count-and-button-block{
    width: 87%;
  }

  .product__section-2 .product__link::after{
    right: 4%;
  }
}

@media (max-width: 1400px){
  .promo__button{
    padding: 14px 35px;
  }
  .product{
    width: 43%;
  }
  .product-and-link-block{
    width: 35%;
  }
  .product__section-2 .product__link{
    padding-right: 4%;
  }

  .product__button, .product__section-2 .product__button{
  padding: 13px 35px;
  }
}

@media (max-width: 1300px){
  .header__logo{
    margin-right: 15%;
  }

  .promo__button{
    padding: 14px 18px;
  }
  .promo__link{
    width: 23%;
  }
  .product__img_gray{
    width: 31.5%;
  }
  .product__img_pink{
    width: 38.3%;
  }
  .product__link::after{
    width: 41%;
  }
  .product{
    width: 44%;
  }

  .product-and-link-block{
    width: 40%;
  }

  .product__button, .product__section-2 .product__button{
  padding: 13px 20px;
  }

  .product__section-2 .count-and-button-block{
    width: 80%;
  }
}

@media (max-width: 1180px){
  .header__logo{
    margin-right: 13%;
  }

  .promo__button{
    padding: 14px 12px;
    margin: 0 3% 71px 53%;
  }

  .promo__link{
    width: 26%;
  }

  .product__img_gray{
    margin-right: 20%;
  }
  .product__img_pink{
    width: 34.3%;
  }
  .product__link::after{
    width: 41%;
  }
  .product{
    width: 48%;
    padding: 45px;
  }

  .product-and-link-block{
    width: 42%;
    top: 190px;
  }
}

@media (max-width: 1070px) {
  /* .product__link::after{
    width: 35%;
  }

  .product__count{
    width: 90px;
  }

  .product__section-2 .product__link::after{
    width: 27%;
  }
  .promo__button{
    padding: 14px 10px;
  } */

  .wrapper, .main, .header, .promo, .product__section-1, .product__section-2{
    padding: 0;
    margin: 0;
  }
  .wrapper{
    width: 100%;
  }
  .header__logo{
    width: 82%;
    color: #000;
    background: #fff;
    padding: 14px 0 18px 26px;
  }

  .promo::before, .main::before, .promo__description, .promo__link,
  .promo__button, .contacts, .product__img_gray{
    display: none;
  }

  .hamburger-menu{
    width: 70px;
    height: 69px;
}
  .menu__btn>span{
  width: 26px;
  height: 3px;
  top: 30px;
  left: 22px;
}
  .menu__btn>span:after{
  width: 26px;
  height: 3px;
}
  .main{
    height: 528px;
  }
  .promo{
    position: relative;
    width: 100%;
    background: top left no-repeat url("../img/header-img_mobile.png");
  }
  .promo__title{
    width: 79%;
    font-size: 50px;
    position: absolute;
    padding: 0;
    margin: 0 0 0 7%;
    top:365px;
    bottom: 66px;
    /* margin-left: 7%; */
  }
  .header__scroll{
    position: absolute;
    top: 558px;
    left: 46%;
    background: center center no-repeat url(../img/btn_down.svg);
    width: 33px;
    height: 20px;
    z-index: 1;
  }
  .product__section-1{
    position: relative;
    flex-direction: column;
    padding-top: 45px;
    margin: 68px 0 0 0;
  }
  .product__img_pink{
    padding: 0;
    position: relative;
    width: 60%;
    text-align: center;
    margin: auto auto 29px auto;
  }
  .product{
    padding: 16px 29px 26px 29px;
    width: 85.1%;
    margin: auto auto 50px auto;
  }
  .product__title{
    font: bold 20px/21px 'Montserrat',arial,helvetica,sans-serif;
    margin: 0;
  }
  .product__subtitle{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .product__description{
    font: 400 9px/13px 'Montserrat',arial,helvetica,sans-serif;
    margin-bottom: 16px;
    width: 100%;
    padding-left: 2px;
  }
  .colors-and-price-block{
    align-items: center;
    padding-left: 7px;
  }
  .colors{
    width: 127px;
    margin-right: 60px;
    margin-bottom: 31px;
  }
  .colors__item{
    width: 23px;
    height: 23px;
    margin-right: 9px;
  }
  .colors__item:last-child{
    margin-right: 0;
  }
  .colors__item_active{
    width: 29px;
    height: 29px;
  }
  .product__price{
    align-self: flex-start;
    margin: 0;
    font: bold 20px/28px 'Montserrat',arial,helvetica,sans-serif;
  }
  .product__button{
    width: 100%;
    padding: 11px 46px 9px 48px;
  }
  .product__section-1 .product__link, .product__count, .site__made-by{
    display: none;
  }
  .product__section-2{
    padding-top: 34px;
    position: relative;
  }
  .product__section-2::before{
    width: 10.9%;
  }
  .product__section-2 .product__img{
    width: 93.4%;
    margin: auto auto 302px auto;
    z-index: 1;
  }
  .product__section-2 .product{
    margin: 0 0 37px 0;
    padding: 24px 21px 28px 22px;
    width: 81.1%;
    left: 12.5%;
    top: 274px;
  }
  .product__section-2 .product__title{
    margin-bottom: 2px;
  }
  .product__section-2 .product__subtitle{
    margin: 0 0 7px 0;
  }
  .product__section-2 .product__description{
    margin-bottom: 22px;
    padding-left: -2px
  }
  .product__section-2 .product__button{
    width: 100%;
    padding: 8px 47px 10px 45px;
  }
  .product__section-2 .product__link{
    width: 37%;
    left: -10%;
    top: 506px;
    font: 500 15px/18.3px 'Montserrat',arial,helvetica,sans-serif;
  }
  .product__section-2 .product__link::after{
    left: 0;
    top: 29px;
    width: 136px;
  }
}
