

@font-face {
    font-family: 'Montserrat';

    src:
         url('Montserrat/Montserrat-Bold.ttf') format('truetype'),
         url('Montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('Montserrat/montserrat-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('Montserrat/Montserrat-Medium.ttf') format('truetype'),
        url('Montserrat/montserrat-medium-webfont.woff') format('woff'),
        url('Montserrat/montserrat-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('Montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('montserrat-regular-webfont.woff') format('woff'),
        url('Montserrat/montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
